* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(219, 15%, 98%);
  font-size: 0.9375rem;
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
  max-width: 90rem;
  min-height: 100vh;
  margin-inline: auto;
}

.container {
  background-color: hsl(218, 44%, 90%);
  height: 90vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-code {
  background-color: #fff;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  max-width: 18.75rem;
  padding: 0.65rem;
}

.qr-code__img {
  border-radius: 1.25rem;
  padding-bottom: 5%;
  width: 100%;
}

.qr-code__text-area {
  padding-inline: 0.375rem;
  text-align: center;
}
.qr-code__heading {
  font-weight: 700;
  padding-bottom: 1rem;
}

.qr-code__text {
  font-weight: 400;
  color: hsl(210, 10%, 69%);
  padding-bottom: 1rem;
}

.attribution {
  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 23rem) {
  .qr-code {
    max-width: 12rem;
  }
  .qr-code__heading {
    font-size: 1rem;
  }
  .qr-code__text {
    font-size: 1rem;
  }
}
